{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "bootstrap/fixes.html" as fixes %}
{% import "bootstrap/utils.html" as util %}

{% block content %}
{{util.flashed_messages(dismissible=True)}}
<div class="container">
  <h1>Welcome to the Hotel Critic!</h1>
  
  {{ vers }}
  <br>
  <br>

  <button onClick="location.href='/about'">About the app</button>
  <br>
  <br>

  <!-- <h2>Search</h2> -->
  <form method="POST" action="/submit">
    {{ wtf.quick_form(form, button_map={'submit_button': 'primary'}) }}
  </form>

  <table class="table">
    <thead>
        <tr>
            <th>Rank</th>
            <th>Rating</th>
            <th>Hotel</th>
            <th>Location</th>
        <tr>
    </thead>
    <tbody>
        {% for h in hotels %}
        <tr>
            <td>{{ 1 }}</td>
            <td>{{ h[0] }}</td>
            <td>{{ h[1].name }}</td>
            <td>{{ h[1].city }}</td>
        </tr>
        {% endfor %}
    </tbody>
  </table>

</div>
{% endblock %}

{% block head %}
{{super()}}
{{fixes.ie8()}}
{% endblock %}
